.flex-container {
    display: flex;
    text-align: center
}

.flex-div {
    width: 100px;
}

.fondo_respuesta {
    background-color: #eb9494;
  }

.brightness:hover { background:rgb(221, 137, 59);}
.brightness:hover img{ visibility:hidden;}

